<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDlNkN2XRCfguPbH4Q3sTB9vWSV8xmJ3o</string>
	<key>GCM_SENDER_ID</key>
	<string>972841710108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LetsCodeBunnies.StudyApp</string>
	<key>PROJECT_ID</key>
	<string>studyapp-21b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>studyapp-21b4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972841710108:ios:5cd0cf567e9dfa2f85a5d9</string>
</dict>
</plist>